[Unit]
Description=helloworld.js
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=ec2-user
ExecStart= /home/ec2-user/.nvm/versions/node/v16.20.2/bin/node /home/ec2-user/helloworld.js
Restart=always

[Install]
WantedBy=multi-user.target
