[Unit]
Description=helloworld.js
After=cloud-final.service

[Service]
Environment=NODE_PORT=3000
Type=simple
User=admin-user
ExecStart= /home/ec2-user/.nvm/versions/node/v16.20.2/bin/node /home/ec2-user/helloworld.js
Restart=always

[Install]
WantedBy=cloud-init.target